<div id="companies-helper">
    <p>All of the companies in the Network are listed here.</p>
    <p>Click on a company to highlight it on the Network Map.</p>
    <p>Click on companies header to reset your highlights.</p>
</div>

<div id="directors-helper">
    <p>All of the directors in the Network are listed here, including the number of directorships they occupy in the Network.</p>
    <p>Click on a director to highlight what companies they control.</p>
    <p>Click on directors header to reset your highlights.</p>
</div>

<div id="glance-helper">
    <p>Find summary information about a company here when you hover over it on the Network Map.</p>
    <p>Explore further details by clicking on the company on the Network Map.</p>
</div>

<div id="map-helper">
    <p>Each node represents a company.</p>
    <p>Each link indicates that two comapnies have common directors.</p>
    <p>Drag and hover over the companies to explore the links.</p>
    <p>Click on a company to display it in the Company Profile section below.</p>
</div>

<div id="dig-helper">
    <p>Click for guidance and tips on how to carry out effective research into comapnies by Corporate Watch.</p>
</div>

<div id="dir-tab-helper">
    <p>The current and former directors of the company.</p>
    <p>Click on the company name to get a fuller profile of the company from OpenCorporates.com</p>
</div>

<div id="finance-tab-helper">
    <p>A brief overview of financial information relating to the company.</p>
    <p>Click on 'Finances' to access the latest financial documentation submitted by the company to UK's company House compiled by OpenCorporates.com</p>
    <p>Click <i class="material-icons small">info_outline</i> for guidance on how to understand company financial information courtesy of Corporate Watch.</p>
</div>

<div id="info-tab-helper">
    <p>An overview of basic information pertaining to the company.</p>
    <p>Click <i class="material-icons small">info_outline</i> for an explanation of 'Industry Classification'</p>
</div>